<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEDBACK FORM</title>
    <style>
        body {
            background-color: grey;
        }

        h2 {
            color: blue;
            font-size: x-large;
        }

        p {
            font-size: larger;
            color: blue;
        }
    </style>
</head>

<body>
    <h2>FEEDBACK FORM</h2>
    <p>Please provide your question for improving chatbot connectivity..</p>
    <div id="feedback">
        <form action="/admin" method="post">
            <label for="email">Email</label><br>
            <input type="text" id="email" class="eid" name="email" value=""><br>
            <label for="question">Question</label><br>
            <input type="text" id="question" class="qid" name="question" value=""><br><br>
            <input type="submit" class="button" value="Submit">
        </form>
    </div>